$contentBackground: #fff;
$imageBackground: url(../img/m-h-day.jpg) repeat-x center bottom;
$bold: bold;
$Tranquility: #21232e;
$TextColor: #14a0c7;
$MixnColor: #699900;
$Gradient1:#65950f;
$Gradient2:#3160c6;

