$contentBackground: #21232e;
$imageBackground: url(../img/m-h-night.jpg) repeat-x center bottom;
$bold: bold;
$Tranquility: #3b3f50;
$TextColor: #ff4e33;
$MixnColor: #e3ac00;
$Tranquility1:#ffffff;
$Gradient1:#d99c0a;
$Gradient2:#99374c;